body {
    background-color: #1e272e;
    font-family: 'Roboto', sans-serif;
    /*vertical-align: middle;*/
}

/*html{
    margin: auto;
    display: table;
}*/

p, h1, h2, li {
    color: #c7ecee;
    list-style: circle;
}

.extra_info{
    font-style: italic;
}

a {
    text-decoration: none;
    color: #0fbcf9;
    font-size: 26px;
}

a:hover{
    font-size: 30px;
    text-decoration: underline
}

button {
    font-size: 14px;
    background-color: #05c46b;
    cursor: pointer;
    
    border: none;
}

button:hover{
    font-size: 18px;
    text-decoration: underline
}

.fun_noober_utils_icon{
    width: 15%;
    height: 15%;
}

.extra_stuff{
    list-style-type: none;
}

.vignette {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 150px rgba(0,0,0,0.5) inset;
}